.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 20%;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.46;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
    width: 100%;
    z-index: 50000;
  }
  
  .container > div {
    border-radius: 40px;
    background-color: #5a5a5a;
    padding: 15px 30px;
    max-width: 300px;
  }
  