.img{
    width: 411px;
    height: 323px;
}

.name{
    max-width: 65%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: Roboto,"sans-serif";
    font-weight: 100;
    text-align: end;
}
.padding{
    padding: 15px;
    position: sticky;
    top: 0;
    background-color: #fff;
}

.h3{
    color: rgb(252, 91, 99);
    font-weight: normal;
    margin-left: 20px;
}

.card{
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 2px 1px -1px rgba(0,0,0,0.12);
    border-radius: 4px;
    overflow: hidden;
    border-radius: 4px;
    background-color: #fff;
    width: 374px;
    margin-left: 18px;
    height: 240px;
    margin-bottom: 63px;
}

.card1{
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 2px 1px -1px rgba(0,0,0,0.12);
    border-radius: 4px;
    overflow: hidden;
    border-radius: 4px;
    background-color: #fff;
    width: 374px;
    margin-left: 18px;
    height: fit-content;
    margin-bottom: 63px;
}

.contain{
    position: relative;
    margin: 10px;
    font-size: 14px;
}

.cardAlign{
    padding-bottom: 0px;
    padding: 16px;
}

.description{
    white-space: pre-wrap;
    color: rgba(0, 0, 0, 0.87);
    font-size: 1rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.00938em
}

.flex{
    display: flex;
}

.profile{
    white-space: pre-wrap;
    color: rgba(0, 0, 0, 0.87);
    font-size: 1rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    margin-left: 30px;
}

.lifeApperance{
    margin-top: 14px;
}