.App {
  text-align: center;
}
.heading{
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: .86;
    letter-spacing: .2px;
    letter-spacing: .0125rem;
    /* padding: 10px 14px 0; */
    font-size: 28px;
    position: relative;
    top: 57px;
    left: 37px;
    width: fit-content;
}

.genHeading{
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: .86;
    letter-spacing: .2px;
    letter-spacing: .0125rem;
    /* padding: 10px 14px 0; */
    font-size: 28px;
    position: relative;
    top: 28px;
    left: 37px;
    width: fit-content;
}

.dobText{
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: .86;
    letter-spacing: .2px;
    letter-spacing: .0125rem;
    /* padding: 10px 14px 0; */
    font-size: 28px;
    position: relative;
    top: 34px;
    left: 37px;
    width: fit-content;
}

.align{
    position: relative;
    top: 85px;
    left: -3px;
}

.inputFieldBox {
    width: 84%;
    margin-left: 2.2rem;
    position: relative;
    background-color: #fff;
    border-radius: 9px;
  }
  
  .inputFieldBox1 {
    width: 84%;
    margin-left: 2.2rem;
    position: relative;
    background-color: #fff;
    border-radius: 9px;
    margin-top: 26px;
  }

  .inputFieldBox2 {
    width: 84%;
    margin-left: 2.2rem;
    position: relative;
    background-color: #fff;
    border-radius: 9px;
    margin-top: 57px;
  }

  .Admin {
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: 0.08px;
    text-align: center;
    color: #4a4a4a;
  }
  
  .Admin .textstyle1 {
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 0.06px;
    color: #9b9b9b;
    padding-left: 0.3125rem;
  }
  .Options {
    width: auto;
    height: 40px;
    border-radius: 4px;
    border: solid 0.5px #9b9b9b;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 126px;
    height: 46px;
  }

  .Options1 {
    width: auto;
    height: 40px;
    border-radius: 4px;
    border: solid 0.5px #9b9b9b;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 126px;
    height: 46px;
    margin-left: 69px;
  }


  .textColorTab {
    background-color: #1daf65;
    color: #fff;
  }
  .textstyle1color {
    color: #fff !important;
  }

  .sliderBox {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 1rem;
    align-items: center;
    white-space: pre;
    padding-left: 36px;
    margin-top: 50px;
  }

  .subHed{
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: .86;
    letter-spacing: .2px;
    letter-spacing: .0125rem;
    font-size: 18px;
    position: relative;
    top: 44px;
    left: 37px;
    color: gray;
    width: 260px;
  }

  .container{
    border: 0.0625rem solid rgba(155, 155, 155, 0.5);
    position: relative;
    height: 2.5rem;
    display: flex;
    flex-direction: column;
    padding: 0.875rem 0.9375rem;
    overflow: hidden;
    border-radius: 7px;
    padding: 11px 16px;
  }

  .input {
    font-size: 1.0625rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.41;
    letter-spacing: 0.009375rem;
    text-align: left;
    color: #282828;
    outline: none;
    border: none;
    margin-top: 0.625rem;
    background: none;
    position: relative;
    top: -10px;  }
  
  .input:focus {
    margin-top: 1.25rem;
  }
  
  .input::placeholder {
    opacity: 0;
  }
  
  .input:focus + .label {
    margin-top: 0;
    font-size: 0.75rem;
    color: #9b9b9b;
  
    /* display: flex; */
  }
  
  .input:not(:placeholder-shown) {
    margin-top: 1.65rem;
  }
  
  .input:not(:placeholder-shown) + .label {
    margin-top: 0;
    font-size: 0.75rem;
    color: #9b9b9b;
  }

  .submit{
    background-color: #4aab80;
    border-radius: 14px;
    height: 60px;
    width: 60px;
    color: #fff;
    border: 4px;
    line-height: 80px;
    font-size: 2em;
    font-weight: bold;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
  }

  .btnAlign{
    position: relative;
    left: 43vh;
    width: 80px;
    top: 132px;
  }

  .btnIcon{
    font-size: 50px;
    position: relative;
    top: -12px;
    left: 1px;
  }
  @media screen and (min-width: 321px) and (max-width: 360px) {
      .Options1{
          margin-left: 29px;
      }
      .dobText{
        font-size: 24px;
      }
      .heading{
        font-size: 24px;
      }
      .genHeading{
        font-size: 24px;
      }
      .subHed{
        font-size: 15px;
      }
      .align{
        left: -7px;
      }
  }

  @media screen and (max-width: 320px) {
    .Options1{
      margin-left: -6px;
    }
  }
  @media screen and (min-width: 361px) and (max-width: 375px) {
    .Options1{
      margin-left: 30px;
    }
    .dobText{
      font-size: 25px;
    }
    .btnAlign{
      left: 41vh;
    }
    .subHed{
      font-size: 14px;
    }
    .heading{
      font-size: 25px;
    }
    .align{
      width: 96%;
    }

    @media screen and (min-height: 812px) {
      .btnAlign{
        left: 35vh;
      }
    }
  }
  @media screen and (min-height: 823px) {
    .btnAlign{
      left: 39vh;
    }
  }


  .btn {
    /* display: inline-block; */
    /* border: #4aab80; */
    border-style: solid;
    border-width: 2px;
    border-radius: 7px;
    background: #fff;
    font-weight: bold;
    color: #000;
  }
  .btn:hover {
    background: linear-gradient(#4aab80, #4aab80);
    color: white;
    border: #4aab80;
  }
  .btn:focus {
    background: linear-gradient(#4aab80, #4aab80);
    color: white
  }
  
  