.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #4e9c81;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #4aab80;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pwa{
  font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: .86;
    letter-spacing: .2px;
    letter-spacing: .0125rem;
    /* padding: 10px 14px 0; */
    font-size: 84px;
    position: relative;
    top: -115px;
}

.catchphrase{
  font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: .86;
    letter-spacing: .2px;
    letter-spacing: .0125rem;
    /* padding: 10px 14px 0; */
    font-size: 28px;
    position: relative;
    top: -100px;
}
.inputFieldBox {
  width: 20.875rem;
  margin-left: 2.2rem;
  position: relative;
  background-color: #fff;
  border-radius: 9px;
}

.inputFieldBox1 {
  width: 20.875rem;
  margin-left: 2.2rem;
  position: relative;
  background-color: #fff;
  border-radius: 9px;
  margin-top: 26px;
}

.stepButtonText {
  height: 1.0625rem;
  font-size: 1rem;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  margin-left: 0;
  line-height: 3rem;
  letter-spacing: 0.0088rem;
  text-align: center;
  color: #4e9c81;
  vertical-align: middle;
  cursor: pointer;
  margin: 7px;
  position: relative;
  top: 7px;
}

.stepButton {
  width: 10rem;
  margin-left: 2.5rem;
  height: 3rem;
  background-color: #fff;
  margin-top: 2.5rem;
  border-radius: 9px;
  margin-bottom: 30px;
}

.proceedButton {
  width: 20.875rem;
  height: 4rem;
  margin-left: 2.225rem;
  margin-top: 1rem;
}

.align{
  position: relative;
  left: -16px;
}