.mainContainer {
    position: relative;
  }
  
  .container {
    border: 0.0625rem solid rgba(155, 155, 155, 0.5);
    position: relative;
    height: 2.5rem;
    display: flex;
    flex-direction: column;
    padding: 0.875rem 0.9375rem;
    overflow: hidden;
  }
  
  .rightSideText {
    position: absolute;
    top: 40%;
    right: 5%;
    cursor: pointer;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.11px;
    color: #071c2c;
  }
  
  .label {
    position: absolute;
    z-index: 1;
    height: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    pointer-events: none;
    font-size: 0.9375rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: 0.00875rem;
    text-align: left;
    color: #9b9b9b;
    margin-left: 0.0625rem;
    transition: all 0.3s ease-in-out;
    margin-top: 0.625rem;
  }
  
  .input {
    font-size: 1.0625rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.41;
    letter-spacing: 0.009375rem;
    text-align: left;
    color: #282828;
    outline: none;
    border: none;
    margin-top: 0.625rem;
    background: none;
  }
  
  .input:focus {
    margin-top: 1.25rem;
  }
  
  .input::placeholder {
    opacity: 0;
  }
  
  .input:focus + .label {
    margin-top: 0;
    font-size: 0.75rem;
    color: #9b9b9b;
  
    /* display: flex; */
  }
  
  .input:not(:placeholder-shown) {
    margin-top: 1.65rem;
  }
  
  .input:not(:placeholder-shown) + .label {
    margin-top: 0;
    font-size: 0.75rem;
    color: #9b9b9b;
  }
  